body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color:darkblue;
    padding: 40px;
}
input{
    width: 300px;
}
button{
    width: 50%;
}
#formcontainer{
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    width: 50%;
    margin-left: 25%;
}
footer{
    background-color: darkgray;
    padding: 30px;
}
