body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color:darkblue;
    padding: 30px;
}
h1{
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
}
.card{
    width: 500px;
}
#loginform{
    width: 500px;
}
#container{
    display: flex;
    justify-content: center;
}

LOLLLLLLLLLLLLL
