body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color:darkblue;
    padding: 30px;
}
footer{
    background-color: darkgray;
    padding: 30px;
}
h1{
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
}
th, td {
    border: 1px solid lightgrey;
    padding: 8px;
}

tr:nth-child(even){
    background-color:#f2f2f2;
}
tr:hover{
    background-color:lightgrey;
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white; 
}
